    /*
    ********COLOR GUIDE**********
    dark blue #2568ba;
    light blue #4bd8d2;
    medium blue #51bcb5;
    grey #c5c6c7;
    black #1f2833;
    */
/*===========GENERAL===================*/
body {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: black;
    background-image: url(../img/bg.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
h1 {
    font-size: 2em;
    font-weight: 300;
}
h2 {
    font-size: 1em;
    font-weight: 300;
}
h3 {
    font-size: 2em;
    font-weight: 300;
}
h1, h2, h3 {
    color: #51bcb5;
}
/*===========HEADER===================*/
header.container{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 100px;
    height: 400px
}
@media screen and (max-width: 992px){
    header.container{
        margin-top: 0px;
    }
}
header h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 100px;
}
header h2 {
    font-size: 1em;
    font-weight: 300;
}
header h1, header h2 {
    color: #4bd8d2;
}
nav {
    margin: 0;
    padding: .5em 0;
    background-color: rgba(255, 255, 255, 0.5);
}
nav ul li a {
    color: black;
}
/*========CUSTOM NAVIGATION STYLES===========*/
.myNavBar {
    display: block;
    width: 100%;
    background-color: #1f2833;
    clear: both;
    height: 50px;
    color: #c5c6c7;
}
/*phone view*/
@media screen and (max-width: 992px){
    .myNavBar {
        width: 100%; 
    }
}
@media screen and (min-width: 993px){
    .myNavBar {
        width: 970px; 
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px){
    .myNavBar {
        width: 1170px; 
        margin: 0 auto;
    }
}
/*=============================================Responsive Bar========================================================*/
.menuBtn {
    display: initial;
    font-size: 1.5em;
    padding: .3em 10px .2em 10px;
    color: #4bd8d2;
    background-color: #1f2833;
    border: 0;
    margin-left: 10px;
    
}
.closeBtn {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 1.6em;
    color: #fff;
    padding: 10px;
    display: block;
}
.closeBtn:hover {
    color: #4bd8d2;
}
.logNav {
    position: absolute;
    top: 10px;
    left: 50px;
}
.mainNav li form{
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 400px){
    .closeBtn {
        right: 10px;
    }
    .logNav {
        left: 10px;
    }
}
.navOverlay {
    position: fixed;
    top: 0;
    left: -10000000px;
    width: 0%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    background-color: rgba(0,0,0,.75);
    padding: 50px;
}
.mainNav {
    margin-top: 20px;
    padding: 0;
}
.mainNav li {
    list-style-type: none;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
}
.mainNav li a {
    display: block;
    text-decoration: none;
    font-size: 1.8em;
    padding: .4em 0px .3em 0px;
    text-align: center;
    color: #4bd8d2;
    -webkit-transition: .3s;
    transition: .3s;
}
@media screen and (min-width: 993px){
    .menuBtn {
        display: none;
    }
    .mainNav{
        float: left;
        display: block;
        padding-left: 0;
        margin-top: 5px;
        margin-left: 10px;
    }
    .mainNav li {
        float: left;
        list-style-type: none;
        display: inline-block;
        /*transition: .3s;*/
    }
    .mainNav li a {
        /*display: block;*/
        /*text-decoration: none;*/
        font-size: 1.15em;
        padding: .4em 10px .3em 10px;
        /*text-align: center;*/
        /*color: #4bd8d2;*/
        /*transition: .3s;*/
    }
    .mainNav li:hover a {
        background-color: #eff6ff;
        color: #2568ba;
    }
    .logNav {
        position: static;
    }
    .navOverlay {
        position: static;
        width: auto;
        height: auto;
        z-index: auto;
        background-color: transparent;
        padding: initial;
    }
    .closeBtn {
        display: none;
    }
}
/*=============================end of responsive Bar=====================================*/
.logNav{
    float: right;
    display: block;
    margin-right: 10px;
}
.myNavBar .logNav a {
    color: #4bd8d2;
    font-size: 1.15em;
    padding: .4em 10px .3em 10px;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
}
.myNavBar .logNav a:hover {
    color: #2568ba;
}
/*===========Search Bar===================*/
@media screen and (min-width: 993px){
    .input-group {
        width: 150px;
        -webkit-transition: width .75s ease-in-out;
        -moz-transition:width .75s ease-in-out;
        -o-transition: width .75s ease-in-out;
        transition: width .75s ease-in-out;
    }
    .input-group:focus-within {
        width: 225px;
    }
}
@media screen and (min-width: 1200px){
    .input-group {
        width: 200px;
        -webkit-transition: width .75s ease-in-out;
        -moz-transition:width .75s ease-in-out;
        -o-transition: width .75s ease-in-out;
        transition: width .75s ease-in-out;
    }
    .input-group:focus-within {
        width: 350px;
    }
}
.myNavBar .mySearch {
    margin-top: 5px;
}
.myNavBar .mySearchBtn {
    margin-top: 5px;
    padding: 6px 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #fff;
    background: #60dbd3;
    background: -moz-linear-gradient(top, #60dbd3 0%, #51bcb5 100%);
    background: -webkit-linear-gradient(top, #60dbd3 0%,#51bcb5 100%);
    background: linear-gradient(to bottom, #60dbd3 0%,#51bcb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60dbd3', endColorstr='#51bcb5',GradientType=0 );
}
.myNavBar .mySearchBtn:hover {
    color: #2568ba;
    background: #eff6ff;
    background: -moz-linear-gradient(top, #eff6ff 0%, #d4e4f7 100%);
    background: -webkit-linear-gradient(top, #eff6ff 0%,#d4e4f7 100%);
    background: linear-gradient(to bottom, #eff6ff 0%,#d4e4f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff6ff', endColorstr='#d4e4f7',GradientType=0 );
}
/*===========BODY===================*/
.content .container {
    background: rgba(255, 255, 255, 0.9);
    padding: 0 10px;
}
@media screen and (max-width: 992px){
    .container {
        width: 100%;
        margin: 0;
    }
    .row {
        margin: 0;
        width: 100%;
    }
}
.delete{
    margin-right: 10px;
}
figure img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
figure#manageImg {
    width: 60%;
    margin: 0 auto;
}
figure#manageImg img{
    display: block;
    margin: 0 auto;
    width: 40%;
}
img#logo {
    width: 15%;
    margin: 2%;
    margin-top: 0;
}
img {
    width: 90%;
}
article {
    padding:30px;
}
blockquote {
    font-size: 28px;
}
.content a {
    color: #2568ba;
    -webkit-transition: color .5s; /* For Safari 3.1 to 6.0 */
    transition: color .5s;
}
.content a:hover {
    color: #51bcb5;
}
.card {
    padding-bottom: 1em;
    margin-bottom: 3.5em;
}
.card img {
    width: 100%;
}
.card.cardResult {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border: #c5c6c7 solid 1px;
    background-color: rgba(255,255,255, .55);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding-left: 20px;
}
.card.cardResult a:visited, .card.cardResult a:hover {
    text-decoration: none;
}
.card.cardResult a h3 {
    font-size: 1.5em;
}
/*===========Pagination===================*/
.myPagination {
    clear: both;
    text-align: center;
}
.myPagination li a i {
    font-size: 1em;
}
.myPagination li a {
    font-size: 1.5em;
    color: #51bcb5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.myPagination li:hover a {
    color: #4bd8d2;
    background-color: #1f2833;
}
.myPagination li.active a {
    color: #4bd8d2;
    background-color: #1f2833;
}
.myPagination li.active:hover a {
    background-color: #51bcb5;
}
/*===========BUTTONS===================*/
.primary_button {
    margin: .75em 0;
    display: inline-block;
    font-size: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #51bcb5;
    color: #fff;
    padding: .5em;
    -webkit-transition: background .3s, border-color .3s;
    transition: background .3s, border-color .3s;
    background: #60dbd3;
    background: -moz-linear-gradient(top, #60dbd3 0%, #51bcb5 100%);
    background: -webkit-linear-gradient(top, #60dbd3 0%,#51bcb5 100%);
    background: linear-gradient(to bottom, #60dbd3 0%,#51bcb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60dbd3', endColorstr='#51bcb5',GradientType=0 );}
.primary_button:hover {
    background: #59CCC4;
    background: -moz-linear-gradient(top, #59CCC4 0%, #449b95 100%);
    background: -webkit-linear-gradient(top, #59CCC4 0%,#449b95 100%);
    background: linear-gradient(to bottom, #59CCC4 0%,#449b95 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59CCC4', endColorstr='#449b95',GradientType=0 );
    border-color: #3f9690;
    color: #fff;
}
a.delete_button {
    display: inline-block;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BA5351;
    color: #fff;
    padding: .5em;
    -webkit-transition: background .3s;
    transition: background .3s;
    background: #BA5351;
}
a.delete_button:hover {
    color: #fff;
    background: #F23D3A;
    text-decoration: none;
}
.addCartBtn {
    margin: .75em 0;
    display: inline-block;
    font-size: 1.2em;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: #51bcb5;
    border: 1px solid #51bcb5;
    color: #fff;
    padding: .5em;
    -webkit-transition: background-color .3s, border-color .3s, color .3s;
    transition: background-color .3s, border-color .3s, color .3s;
}
.addCartBtn:hover {
    background-color: #3f9690;
    border-color: #3f9690;
    color: #fff;
}
.priceTag {
    display: inline-block;
    font-size: 1.2em;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    background-color: #9f9fa0;
    border: 1px solid #9f9fa0;
    color: #fff;
    padding: .5em;
}
@media screen and (max-width: 340px){
    .addCartBtn {
       font-size: .8em;
    }
    .priceTag {
        font-size: .8em;
    }
}
/*===========CAROUSEL===================*/
@media screen and (max-width: 767px){
    .captionShowHide {
        display: none;
    }
}
@media screen and (min-width: 768px){
    .captionShowHide {
        display: block;
    }
}
.carousel-inner {
    width: 100%;
}
.carouselImg {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.carouselDots li {
    border-color: #1f2833;
    -webkit-transition: transform .2s ease;
    transition: transform .2s ease;
}
.carouselDots li:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.carouselDots li.active {
    background: #4bd8d2;
}
@media screen and (max-width: 768px){
    .carouselDots {
        margin: 0;
        left: 0;
        width: 100%;
    }
    .carouselDots li {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        margin-left: 5px;
        margin-right: 5px;
    }
    .carouselDots li.active {
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        transform: scale(1.75);
        margin-left: 5px;
        margin-right: 5px;
    }
}
.carousel-caption p {
    text-shadow: 0px 2px 10px rgba(0,0,0,.8);
    font-size: 1.25em;
}
/*===========FOOTER===================*/
footer.container {
    text-align: center;
    padding: .5em;
    color: #c5c6c7;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 100px;
}
@media screen and (max-width: 992px){
    footer.container{
        margin-bottom: 0px;
        height: 250px;
    }
}
footer p {
    padding: 0.2em;
    text-align: center;
    font-size: .8em;
    color: #c5c6c7;
}
footer a {
    color: #c5c6c7;
    -webkit-transition: color .5s; /* For Safari 3.1 to 6.0 */
    transition: color .5s;
}
footer a:hover {
    color: #51bcb5;
} 
footer .links {
    font-size: 1.5em;
}
@media screen and (min-width: 993px){
    footer .links{
       font-size: 2em; 
    }
}